<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GoogleTrends.RazorSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    @Html.AntiForgeryToken()
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">GoogleTrends.RazorSite</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Explore</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/TrendsApi/DailyTrends">Daily Trends</a>
                        </li>
                    </ul>
                    @if (!ViewContext.View.Path.Contains("index", StringComparison.OrdinalIgnoreCase))
                    {
                        <form asp-antiforgery="true" class="d-flex" action="/TrendsApi/Explore" method="post" id="searchForm">
                            <input type="text" class="form-control" name="searchQuery" id="trendQuery" placeholder="Google Trend Query">
                            <button class="btn btn-outline-primary" type="submit">Search</button>
                        </form>
                    }
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - GoogleTrends.RazorSite - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#trendQuery").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/api/AutoCompleteQuery',
                        headers: {
                            "RequestVerificationToken":
                                $('input[name="__RequestVerificationToken"]').val()
                        },
                        data: { "searchQuery": request.term },
                        dataType: "json",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        failure: function (response) {
                            alert("failure " + response.responseText);
                        }
                    });
                },
                select: function (event, ui) {
                    event.preventDefault();

                    const regexp = /^(\(\)|\(.+?\)) (.+)$/g;
                    const regexMatches = [...ui.item.value.matchAll(regexp)][0];
                    console.log(regexMatches[2]);
                    $("#trendQuery").val(regexMatches[2]);
                    $("#searchForm").submit();
                },
                minLength: 1,
                delay: 0
            });
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
